services:
  # --- Dashboard Homepage ---
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    user: root
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /srv/dockerdata/homepage/:/app/config:rw,z
    environment:
      # - HOMEPAGE_ALLOWED_HOSTS=localhost,192.168.1.252,100.70.165.82,fedora-server.tail359ab2.ts.net
      - HOMEPAGE_ALLOWED_HOSTS=*
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- Surveillance DVR ---
  agentdvr:
    image: mekayelanik/ispyagentdvr:latest
    container_name: agentdvr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - AGENTDVR_WEBUI_PORT=8090
    ports:
      - "8090:8090"
      - "3478:3478/udp"
      - "50000-50100:50000-50100/udp"
    volumes:
      - /srv/dockerdata/agentdvr/config:/AgentDVR/Media/XML:rw,z
      - agentdvr_data:/AgentDVR/Media/WebServerRoot/Media:rw,z
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  #  --- File Manager ---
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    security_opt:
      - label=disable
    ports:
      - "7000:8080" # External:Internal (change 8081 if you want another port)
    volumes:
      - /home/:/srv:ro # The directory you want to browse
      - /srv/dockerdata/filebrowser/config:/config:Z # Config storage
      - /srv/dockerdata/filebrowser/database:/database:Z # Database storage
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - FB_USERNAME=admin
      - FB_PASSWORD=strongpassword
    command:
      [
        "--port",
        "8080",
        "--database",
        "/database/filebrowser.db",
        "--config",
        "/config/settings.json",
      ]
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:8080/health"]
      interval: 5s
      timeout: 3s
      retries: 3
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  actualbudget:
    image: actualbudget/actual-server:latest
    container_name: actualbudget
    restart: unless-stopped
    ports:
      - "5020:5006"
    volumes:
      - /srv/dockerdata/actualbudget:/data:Z
    environment:
      - ACTUAL_PORT=5006
      - TZ=America/New_York
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- Bookmark Manager ---
  linkding:
    image: sissbruecker/linkding:latest
    container_name: linkding
    restart: unless-stopped
    ports:
      - "9100:9090"
    volumes:
      - /srv/dockerdata/linkding:/etc/linkding/data:rw,z
    environment:
      - LD_SUPERUSER_NAME=admin
      - LD_SUPERUSER_PASSWORD='password'
      - LD_ALLOWED_HOSTS=192.168.1.252,localhost
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- JupyterLab Environment ---
  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: jupyter
    restart: unless-stopped
    user: root
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - NB_UID=1000
      - NB_GID=1000
      - CHOWN_HOME=yes # Switch back to yes, but only after fixing the volume mapping
      - CHOWN_HOME_OPTS=-R
    ports:
      - "5200:8888"
    volumes:
      - /srv/dockerdata/jupyter/work:/home/jovyan/work:rw,Z
      - jupyter_data:/home/jovyan/.local:rw,Z
    security_opt:
      - label:disable
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- memos ---
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    ports:
      - "5400:5230"
    volumes:
      - /srv/dockerdata/memos:/var/opt/memos:rw,z
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- bentopdf ---
  bentopdf:
    image: bentopdf/bentopdf:latest
    container_name: bentopdf
    user: root
    volumes:
      - bentopdf_cache:/var/cache/nginx:z
      - bentopdf_tmp:/etc/nginx/tmp:z
      - bentopdf_run:/run:z
      - /srv/dockerdata/bentopdf/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "5500:8080"
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- navidrome ---
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    ports:
      - "9200:4533"
    environment:
      ND_SCANSCHEDULE: "1h"
      ND_LOGLEVEL: "info"
      ND_SESSIONTIMEOUT: "24h"
      ND_BASEURL: ""
    volumes:
      - /srv/dockerdata/navidrome/data:/data:Z
      - /srv/dockerdata/navidrome/music:/music:Z
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: fedora-server
    network_mode: "host"
    environment:
      - TS_AUTHKEY=tskey-auth-kB9im9VtLC21CNTRL-yWBVc9PDkWfy3x9gb4RDXfo4WpV6ro7Vf
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=true # Key change for rootless
      - TS_ROUTES=192.168.1.0/24 # Replace with your actual home network range
    volumes:
      - /srv/dockerdata/tailscale:/var/lib/tailscale:Z
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  # --- Reverse Proxy / SSL ---
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    restart: unless-stopped
    ports:
      - "80:80"
      - "8443:443"
      - "8181:81"
    volumes:
      - npm_data:/data:rw,z
      - npm_letsencrypt:/etc/letsencrypt:z
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3

  # # --- Auto Updater ---
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    group_add:
      - keep-groups # This allows the container to inherit your user's group permissions
    security_opt:
      - label=disable
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:rw
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=36000
      - WATCHTOWER_LABEL_ENABLE=true

  # noip:
  #   image: ghcr.io/noipcom/noip-duc:latest
  #   container_name: noip
  #   restart: unless-stopped
  #   environment:
  #     NOIP_USERNAME: vngnq4h
  #     NOIP_PASSWORD: 4ZXCcjj2ZUyX
  #     NOIP_HOSTNAMES: omkara.ddns.net
  #     NOIP_PING_INTERVAL: 3600
  #   volumes:
  #     - /srv/dockerdata/noip:/data:z
  #   labels:
  #     - "com.centurylinklabs.watchtower.enable=true"

# --- Named Volumes ---
volumes:
  npm_data: {}
  npm_letsencrypt: {}
  bentopdf_cache: {}
  bentopdf_tmp: {}
  bentopdf_run: {}
  agentdvr_data: {}
  jupyter_data: {}

#UPDATE users
# SET password = '$2y$04$ozPQcHvd8uvEYL9g4Baylu0Kf31TCb9DyxNcZMOkxZlbfBhHuOqDO', --password
#     updated_time = extract(epoch from now())*1000
# WHERE email = 'admin@localhost'; admin@example.com e+<7sVg.BR

#docker run --rm -v /srv/dockerdata/filebrowser/database:/database \
# filebrowser/filebrowser:latest \
# users update admin --password strongpassword --database /database/filebrowser.db

#podman exec -it wireguard /app/show-peer 1
#
# sudo chown -hR 1000:1000 /srv/dockerdata/actualbudget
# sudo chcon -Rt container_file_t /srv/dockerdata/filebrowser

# docker-compose down && docker-compose up -d
