services:
  # --- Docker Management UI ---
  # portainer:
  #   image: portainer/portainer-ce:latest
  #   container_name: portainer
  #   restart: always
  #   ports:
  #     - "9443:9443"
  #     - "9000:9000"
  #   volumes:
  #     - /run/user/1000/podman/podman.sock:/var/run/docker.sock:rw,z
  #     - portainer_data:/data:rw,z
  #   networks:
  #     - app-network

  # --- Dashboard Homepage ---
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    user: root
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /home/omkara/dockerdata/homepage/:/app/config:rw,z
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=192.168.1.252,localhost,192.168.1.252:3000
    networks:
      - app-network

  # --- Surveillance DVR ---
  agentdvr:
    image: mekayelanik/ispyagentdvr:latest
    container_name: agentdvr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - AGENTDVR_WEBUI_PORT=8090
    ports:
      - "8090:8090"
      - "3478:3478/udp"
      - "50000-50100:50000-50100/udp"
    volumes:
      - /home/omkara/dockerdata/agentdvr/config:/AgentDVR/Media/XML:rw,z
      - /home/omkara/dockerdata/agentdvr/media:/AgentDVR/Media/WebServerRoot/Media:rw,z
      # - ./data/agentdvr/commands:/AgentDVR/Commands/
    networks:
      - app-network

  #  --- File Manager ---
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "7000:8080" # External:Internal (change 8081 if you want another port)
    volumes:
      - /home/omkara/:/srv # The directory you want to browse
      - /home/omkara/dockerdata/filebrowser/config:/config:z # Config storage
      - /home/omkara/dockerdata/filebrowser/database:/database:z # Database storage
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - FB_USERNAME=admin
      - FB_PASSWORD=strongpassword
    command: ["--port", "8080"]
    networks:
      - app-network

  firefly:
    image: fireflyiii/core:latest
    container_name: firefly
    ports:
      - "5020:8080"
    volumes:
      - /home/omkara/dockerdata/firefly/upload:/var/www/html/storage/upload
      - /home/omkara/dockerdata/firefly/db/:/var/www/html/storage/database
    environment:
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/storage/database/database.sqlite
      PULSE_ENTRYPOINT_USER: root
      # 1. Provide the key under the standard Laravel variable
      APP_KEY: Z4hT5uC8vF0wE6sM1qL7zO8nX9yA2bC=
      # 2. Specify the cipher to avoid negotiation/mismatch errors
      APP_CIPHER: aes-128-cbc
      DISABLE_CONFIG_CACHE: true
    security_opt:
      - label:disable

  # --- Bookmark Manager ---
  linkding:
    image: sissbruecker/linkding:latest
    container_name: linkding
    restart: unless-stopped
    ports:
      - "9100:9090"
    volumes:
      - /home/omkara/dockerdata/linkding:/etc/linkding/data:rw,z
    environment:
      - LD_SUPERUSER_NAME=admin
      - LD_SUPERUSER_PASSWORD='password'
      - LD_ALLOWED_HOSTS=192.168.1.252,localhost
    networks:
      - app-network

  # --- JupyterLab Environment ---
  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: jupyter
    restart: unless-stopped
    ports:
      - "5200:8888"
    volumes:
      - /home/omkara/dockerdata/jupyter:/home/jovyan/work:rw,z
    environment:
      - JUPYTER_ENABLE_LAB=yes
    networks:
      - app-network

  # --- memos ---
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    ports:
      - "5400:5230"
    volumes:
      - /home/omkara/dockerdata/memos:/var/opt/memos:rw,z
    restart: unless-stopped
    networks:
      - app-network

  # --- bentopdf ---
  bentopdf:
    image: bentopdf/bentopdf:latest
    container_name: bentopdf
    ports:
      - "5500:8080"
    restart: unless-stopped

  # --- audiobookshelf ---
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    ports:
      - 9200:80 # External port 13378 maps to internal port 80
    volumes:
      - /home/omkara/dockerdata/audiobookshelf/:/audiobooks:rw,z
      - /home/omkara/dockerdata/audiobookshelf/:/podcasts:rw,z
      - /home/omkara/dockerdata/audiobookshelf/:/metadata:rw,z
      - /home/omkara/dockerdata/audiobookshelf/:/config:rw,z
    restart: unless-stopped

  # --- wireguard ---
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    environment:
      - WG_HOST=omkara.ddns.net
      - WG_PORT=51820
      - PASSWORD_HASH=$2a$12$3JNcIcw0Kn0KSmheAnIsU.pRgGPeGLs7X3.jNrKKvGghOSnQvuFQC
      - WG_DEFAULT_ADDRESS=10.8.1.1
      - WG_DEFAULT_DNS=1.1.1.1
      - WEB_PORT=51821
      - IPTABLES_BACKEND=nft
    volumes:
      - /home/omkara/dockerdata/wireguard:/etc/wireguard:z
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      # Map external WireGuard port (UDP)
      - 51820:51820/udp
      # Map external Web UI port (TCP)
      - 51821:51821/tcp
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    privileged: true
    # network_mode: host
    restart: unless-stopped

  # --- Reverse Proxy / SSL ---
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    restart: unless-stopped
    ports:
      - "80:80"
      - "8443:443"
      - "8181:81"
    volumes:
      - npm_data:/data:rw,z
      - npm_letsencrypt:/etc/letsencrypt:z
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  # # --- Auto Updater ---
  # watchtower:
  #   image: containrrr/watchtower
  #   container_name: watchtower
  #   restart: always
  #   volumes:
  #     - /run/user/1000/podman/podman.sock:/var/run/docker.sock:rw,z
  #   environment:
  #     - WATCHTOWER_CLEANUP=true
  #     - WATCHTOWER_POLL_INTERVAL=36000 # every 5 min
  #     - WATCHTOWER_LABEL_ENABLE=true

  noip:
    image: ghcr.io/noipcom/noip-duc:latest
    container_name: noip
    restart: unless-stopped
    networks:
      - app-network
    environment:
      NOIP_USERNAME: vngnq4h
      NOIP_PASSWORD: 4ZXCcjj2ZUyX
      NOIP_HOSTNAMES: omkara.ddns.net
    volumes:
      - /home/omkara/dockerdata/noip:/data:z
# --- Named Volumes ---
volumes:
  portainer_data: {}
  npm_data: {}
  npm_letsencrypt: {}

# --- Shared Network ---
networks:
  app-network:
    driver: bridge

#UPDATE users
# SET password = '$2y$04$ozPQcHvd8uvEYL9g4Baylu0Kf31TCb9DyxNcZMOkxZlbfBhHuOqDO', --password
#     updated_time = extract(epoch from now())*1000
# WHERE email = 'admin@localhost'; admin@example.com e+<7sVg.BR

#docker run --rm -v /home/omkara/dockerdata/filebrowser/database:/database \
# filebrowser/filebrowser:latest \
# users update admin --password strongpassword --database /database/filebrowser.db

# docker-compose down && docker-compose up -d
